body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  color: #000000;
  background-color: #E5E5E5;
  font-size: 14px;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}